<%= link_to food_path(food), class: "card d-flex w-100 flex-row p-2 text-decoration-none text-dark", style: "width: 18rem;", 'data-bs-toggle': 'tooltip', 'data-bs-placement': 'top', title: 'Click to view food' do %>

<ul class="list-group list-group-horizontal-sm w-100">
  <li class="list-group-item list-group-item-dark w-100"><%= food.name %></li>
  <li class="list-group-item list-group-item-dark w-100"><%= food.measurement_unit %></li>
  <li class="list-group-item list-group-item-dark w-100">$ <%= food.price %></li>
  <li class="list-group-item list-group-item-dark w-100 "><%= button_to "Delete", @food, method: :delete, class: "w-100 btn btn-danger" %></li>
</ul>

<% end %>
