<div class="container mt-5">
  <p class="page-title mb-4">New Food is being created by <i><%= current_user.name %></i></p>

  <%= form_with model: @food, url: foods_path, class: 'create-form' do |f| %>
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %>:
      <%= f.text_field :name, class: "form-control" %>
      <span></span>
    </div>

    <div class="mb-3">
      <%= f.label :measurement_unit, class: "form-label" %>:
      <%= f.text_field :measurment_unit, class: "form-control" %>
      <span></span>
    </div>

    <div class="mb-3">
      <%= f.label :price, class: "form-label" %>:
      <%= f.number_field :price, step: 0.01, class: "form-control" %>
      <span></span>
    </div>

    <%= f.hidden_field :quantity, value: 0 %>

    <div class="mb-3">
      <%= f.submit "Add Food", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
